<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>PDF Text Processor</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
      crossorigin="anonymous"
    />
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
      crossorigin="anonymous"
    ></script>
    <link rel="stylesheet" href="/static/style.css" />
  </head>

  <div class="navbar_dark">
      <nav class="navbar navbar-expand-lg" style="background-color: #27374d">
        <div class="container">
          <a class="navbar-brand" href="#" style="color: #f1f6f9">
            <img
              class="logo"
              src="https://upload.wikimedia.org/wikipedia/commons/thumb/b/b2/Bootstrap_logo.svg/1280px-Bootstrap_logo.svg.png"
              alt=""
              width="50"
              height="40"
            />
          </a>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a
                  class="nav-link"
                  aria-current="page"
                  style="color: #f1f6f9"
                  href="{{ url_for('home') }}"
                  >Home</a
                >
              </li>
              <li class="nav-item">
                <a
                  class="nav-link"
                  style="color: #f1f6f9"
                  href="{{ url_for('steps') }}"
                  >Instructions</a
                >
              </li>
              <li class="nav-item">
                <a
                  class="nav-link"
                  style="color: #f1f6f9"
                  href="{{ url_for('index') }}"
                  >Annotation</a
                >
              </li>
            </ul>
          </div>
        </div>
      </nav>
    </div>

    <div style="background-color:#F1EAFF">
        <div class="col-12 text-center align-items-center d-flex" style="margin-top:20px">
            <div class="col-12" style="background-color:#D0A2F7">
                <form method="POST" enctype="multipart/form-data" action="/">
                    <h4 style="font-weight: bold;">STEP 01</h4>
                    <label for="file">Choose your PDF file:</label>
                    <input
                    type="file"
                    name="file"
                    id="file"
                    accept=".pdf"
                    aria-describedby="fileHelp"
                    class="mb-3"
                    />
                    <br></br>
                    <input
                    type="submit"
                    name="extract"
                    value="Extract Text"
                    title="Click to extract and clean the text"
                    class="btn btn-primary"
                    />
                    
                    {% if title_doc %}
                    <h5 style="color: blue">Text Extraction and Cleaning is Done!</h5>
                    <h5>Title of the Document:</h5>
                    <p>{{ title_doc }}</p>
                    {% endif %}
            </div>
        </div>
    
        <div class="col-12 text-center align-items-center d-flex" style="margin-top:20px">
            <div class="col-12" style="background-color:#D0A2F7">
                <form method="POST" action="/">
                    <h4 style="font-weight: bold;">STEP 02</h4>
                    <label for="algorithm">Select an algorithm:</label>
                    <select name="algorithm" id="algorithm">
                      <option value="yake">YAKE</option>
                      <option value="patternrank">PatternRank</option>
                      <option value="keybert">KeyBERT</option>
                    </select>
                    <br></br>
                    <input
                      type="submit"
                      name="extract_keyphrases"
                      value="Extract Key Phrases"
                      title="Click to extract key phrases"
                      class="btn btn-primary"
                    />
            {% if message %}
            <h5 style="color: blue">{{ message }}</h5>
            {% endif %}
            </div>
        </div>
            
        <div class="col-12 text-center align-items-center d-flex" style="margin-top:20px">
            <div class="col-12" style="background-color:#D0A2F7">
                <form method="POST" action="/">
                    <h4 style="font-weight: bold;">STEP 03</h4>
                    <input
                      type="submit"
                      name="extract_bok_concepts"
                      value="Extract EO4GEO BOK Concepts"
                      title="Click to extract EO4GEO BOK concepts"
                      class="btn btn-primary"
                    />
                {% if message_eo4 %}
                <h5 style="color: blue">{{ message_eo4 }}</h5>
                {% endif %}
            </div>
        </div>
            
        <div class="col-12 text-center align-items-center d-flex" style="margin-top:20px">
            <div class="col-12" style="background-color:#D0A2F7">
                <form method="POST" action="/">
                    <h4 style="font-weight: bold;">STEP 04</h4>
                    <label for="similarity_measure">Select Similarity Measure:</label>
                    <select name="similarity_measure" id="similarity_measure">
                      <option value="cosine_similarity">Cosine Similarity</option>
                      <option value="jaro_winkler_similarity">
                        Jaro-Winkler Similarity
                      </option>
                      <option value="lsa">LSA</option>
                      <option value="word2vec">Word2Vec</option>
                    </select>
                    <br></br>
                    <label for="threshold">Select Threshold:</label>
                    <select name="threshold" id="threshold">
                      <option value="0.7">0.7</option>
                      <option value="0.8">0.8</option>
                      <option value="0.9" selected>0.9</option>
                    </select>
                    <br></br>
                    <input
                      type="submit"
                      name="calculate_similarity"
                      value="Calculate Similarity"
                      title="Click to calculate similarity"
                      class="btn btn-primary"
                    />
                  </form>
            
                  {% if similarity_results %}
                  <h5 style="color: blue">DONE!!!</h5>
                  <h5 style="color: blue">Your document is matching with following EO4GEO Concepts</h5>
                  <ul>
                    {% for result in similarity_results %}
                    <li>{{ result }}</li>
                    {% endfor %}
                  </ul>
                  {% endif %}
                </form>
            </div>
        </div>
    </div>
    
  </body>
</html>
